<%- include('../partials/navbar') %>
  <h3>Add Flight</h3>
  <form action="/flights" method="POST">
  <label>Airline:
    <input type="text" name="airline" value="American">
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight #:
    <input type="text" name="flightNo" value="<%= newFlightNo %>">
  </label>
  <label>Departure Date:
    <input type="datetime-local" name="departs" value="<%= departsDate %>">
  </label><br>
  <input type="submit" value="Add Flight">
  </form>
<%- include('../partials/footer') %>